# For test 9
[machine]
iopmp = "on"
iopmp_layout = "1"

[global]
driver = "riscv-iopmp"
property = "mdcfg_fmt"
value = "0"
[global]
driver = "riscv-iopmp"
property = "srcmd_fmt"
value = "0"
[global]
driver = "riscv-iopmp1"
property = "no_w"
value = "on"